.boardrow{
    display:flex;
    justify-content: center;
}
.status{
    display: inline-block;
    width:10rem;
    margin-bottom: 1rem;
    
    padding: 0.625rem;
    border-radius: 10px;
}
.player-1{
    background-color: #e66060;
}
.player-2{
    background-color: #45b545;
}
.winner{
    background-color: gold;
}
/* .boardrow:after {
    clear: both;
    content: '';
    display: table;
  } */